*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:black;
}
.triangle{
    margin: 200px;
    position: relative;
    width: 300px;
    height: 300px;
    /* border-left: 150px solid white;
    border-right: 150px solid white; */
    transform-style: preserve-3d;
    transform:rotatey(30deg);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0% {
        transform: rotateX(-30deg) rotateY(0deg)
    }
    100% {
        transform: rotateX(-30deg) rotateY(360deg) 
    }
}
.triangle div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.triangle div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background: linear-gradient(rgb(12, 214, 240),black, rgb(12, 214, 240));
    transform: rotateY(calc(150deg * var(--i))) translateZ(10px);
}